/* styles.css */

/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: flex-start; /* Alinear en la parte superior */
    height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
    margin: 20px;
}

/* Estilo del input */
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo del botón */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo del párrafo de respuesta */
p {
    background-color: #FFFFFF;
    padding: 10px;
    border: 0px solid #ddd;
    border-radius: 4px;
}
